{% extends 'indexLogged.html' %}
{% load static %}

{% block studentModels %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Student Models</li>
    </ol>
</nav>
<!-- Create buttons for each model the student has -->
<div class="list-group">
    {% for model in privateModels %}
        <a href="modelEdit/{{model.id}}" class="list-group-item list-group-item-action">
            {{model.modelName}}
        </a>
        
    {% endfor %}
</div>

<!-- Help popup -->
<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">Help</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
			<p>
				Student models are incomplete pathways that students can build. 
                The goal is to be able to correctly build an entire pathway.
                The pathways that you can build are in the list.
			</p>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-primary" data-dismiss="modal">Okay</button>
		</div>
	  </div>
	</div>
</div>
{% endblock %}